:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#gfx-canvas {
  margin: 6px 6px 0 6px;
  background-color: #24242490;
  border: none;
}
div.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 6px 6px 12px 2px #111;
}

div.main>div.right {
  background-color: #161616;
  padding: 0;
  max-width: 812px;
    max-height: 612px;
}

div.main>div.left {
  padding: 0 2rem;
  text-align: left;
  background-color: #161616;
  min-width: 400px;
}