:root {
  font-family: 'Reem Kufi Fun', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100vw;
    min-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#gfx-canvas {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 800px;
    height: 800px;
    min-height: 100%;
}

div.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 90vw;
    box-shadow: 5px 5px 18px 2px rgba(0, 0, 0, 0.6);
}

div.main>div.left {
  padding: 0;
  text-align: left;
  background-color: #161616;
  min-width: 380px;
}
div.left>div {
  margin: 0 1rem;
}

div.main>div.right {
  background-color: #161620;
  padding: 0;
  flex-grow: 1;
  position: relative;
    min-width: 806px;
}
div.option-section {
  margin: 1rem 0;
  border-top: solid 1px #222222;
  padding: 1rem;
}
div.option-section>p {
  display: flex;
}

div.option-section>label {
  display: inline-block;
  width: 120px;
  margin: 0 2px;
}

#support {
  position: absolute;
  top: calc(50% - 3em);
  display: block;
  text-align: center;
  left: calc(50% - 200px);
  width: 400px;
  font-size: x-large;
  height: 3em;
  line-height: 3em;
  border: solid 1px #f0f0f0;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity 1s ease-out;
}

#fps {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 0px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  padding: 2px 7px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s 2.0s ease-out, width 0.5s 2.0s ease-out;
}

table#controls {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}